body {
    background: #484848;
}

header {
    background: #343a40;
}

.page-wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px 40px 20px;
}

.page-wrapper a {
    color: #dc3545;
}

.page-wrapper img {
    max-width: 100%;
}

/*
    Utilities
 */
.center-horizontally {
    margin-left: auto;
    margin-right: auto;
}

.align-horizontally {
    display: flex;
    align-items: center;
}

.text-decoration-underline {
    text-decoration: underline;
}

/*
    Font sizes
 */
.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-32 {
    font-size: 32px;
}

/*
    Code block styling
 */
pre {
    margin-bottom: 1.5em;
    background-color: #1a1a1a;
    padding: 16px 0;
    border-radius: 16px;
}

pre code {
    font-family: monospace;
    display: block;
    padding: 0 20px;
    color: #a9bcbc;
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

pre code .keyword {
    color: #e73289;
}

pre code .type {
    color: #8281ca;
}

pre code .call {
    color: #348fe5;
}

pre code .property {
    color: #21ab9d;
}

pre code .number {
    color: #db6f57;
}

pre code .string {
    color: #fa641e;
}

pre code .comment {
    color: #6b8a94;
}

pre code .dotAccess {
    color: #92b300;
}

pre code .preprocessing {
    color: #b68a00;
}
