body {
    background: #2A3132;
}

/* HEADER */
header {
    background: #90AFC5;
}

header a {
    color: #763626;
}

header a:hover {
    color: #ffffff;
}

header a.active {
    color: #ffffff;
}

header .main-link {
    font-size: 44px;
}

.navbar-nav a {
    font-size: 24px;
}

.social-links a {
    font-size: 14px;
}

/* GLOBAL */

/* Section header (e.g. Latest post) */
h2 {
    color: #90AFC5;
}

/* CONTAINER */
.page-wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px 40px 20px;
}

/* LIST ENTRY */
.list-entry {
    background-color: #763626;
    border-radius: 18px;
}

/* post list entry */
.list-entry.post.title {
    color: #ffffff;
}

.list-entry.post.title.link {
    color: #ffffff;
}

.list-entry.post.description {
    font-style: italic;
}

.list-entry.post.date {
    color: #90AFC5;
}

/* ITEM (e.g. post) */
.item {
    color: #ffffff;
}

.item h1 {
    color: #90AFC5;
    font-size: 2.2rem;
}

.item h2 {
    color: #90AFC5;
}

.item h3 {
    color: #90AFC5;
}

.item h4 {
    color: #90AFC5;
}

.item strong {
    color: #90AFC5;
}

.item a {
    color: #90AFC5;
}

.item img {
    max-width: 100%;
    max-height: 450px;
}

.post.date {
    color: #90AFC5;
}

/* ME */
.me.card-wrapper .card {
    background-color: #763626;
}

/* TAG DETAILS */
.tag-details {
    color: #ffffff;
}

.browse-all-tags-link {
    color: #90AFC5;
}

.browse-all-tags-link:hover {
    color: #ffffff;
}

/* FOOTER */
footer {
    color: #90AFC5;
    font-size: 12px;
}

footer a {
    color: #90AFC5;
}

footer a:hover {
    color: #ffffff;
}

/* Utilities */
.center-horizontally {
    margin-left: auto;
    margin-right: auto;
}

.align-horizontally {
    display: flex;
    align-items: center;
}

.text-decoration-underline {
    text-decoration: underline;
}

/* Font sizes */
.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-32 {
    font-size: 32px;
}

/* Code blocks */
pre {
    margin-bottom: 1.5em;
    background-color: #1a1a1a;
    padding: 16px 0;
    border-radius: 16px;
}

pre code {
    font-family: monospace;
    display: block;
    padding: 0 20px;
    color: #a9bcbc;
    line-height: 1.4em;
    font-size: 1.3em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

pre code .keyword {
    color: #e73289;
}

pre code .type {
    color: #8281ca;
}

pre code .call {
    color: #348fe5;
}

pre code .property {
    color: #21ab9d;
}

pre code .number {
    color: #db6f57;
}

pre code .string {
    color: #fa641e;
}

pre code .comment {
    color: #6b8a94;
}

pre code .dotAccess {
    color: #92b300;
}

pre code .preprocessing {
    color: #b68a00;
}
